@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
#inicio {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-around; }

#imagen {
  width: 35em;
  height: 25em;
  overflow: hidden;
  box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
  margin: 20px; }
  #imagen img {
    width: 37.5em;
    height: 100%;
    transition: 1.5s; }
    #imagen img:hover {
      filter: brightness(80%); }

#titulos div a {
  align-items: center; }

.vintagestore {
  align-items: center;
  display: flex;
  justify-content: space-around; }

#producto {
  width: 100%; }

#productosdestacados_titulo {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: 0b032d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: transform .5s; }
  #productosdestacados_titulo:hover {
    transform: scale(1.1); }

#carouselExampleIndicators {
  margin-right: 20rem;
  margin-left: 20rem;
  margin-top: 2rem; }

.carousel-inner {
  margin-left: 17rem;
  width: 700px;
  height: 500px;
  margin-bottom: 1rem; }

/* -------------------------------- VARIABLES ------------------------------- */
/* --------------------------------- PALETA --------------------------------- */
/* ------------------------------- FONT SIZES ------------------------------- */
/* -------------------------------- NORMALIZE ------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer; }

.body {
  background-image: linear-gradient(to bottom, #f3f3f3, #efefef, #ebebeb, #e7e7e7, #e3e3e3, #e0e0e0, #dedede, #dbdbdb, #d9d9d9, #d7d7d7, #d6d6d6, #d4d4d4);
  font-family: 'Roboto', sans-serif; }

/* --------------------------------- HEADER --------------------------------- */
.header {
  box-shadow: 1px 14px 14px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 14px 14px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 14px 14px -14px rgba(0, 0, 0, 0.75); }

.nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100vw;
  background-image: linear-gradient(to left, #d8d6d6, #d3d1d2, #cecdcd, #c9c9c9, #c4c4c4, #c0c0c0, #bdbcbd, #b9b8b9, #b5b4b5, #b2afb0, #aeabac, #aaa7a7);
  position: fixed;
  box-shadow: 4px 10px 31px -7px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 4px 10px 31px -7px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 4px 10px 31px -7px rgba(0, 0, 0, 0.57);
  border-radius: 40px;
  margin-top: 0.5vw; }
  .nav div a {
    margin: 2rem;
    margin-right: 2rem;
    font-size: 1em;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: #0b032d; }
    .nav div a:hover {
      color: #f3f3f3; }

/* ------------------------------ MEDIA QUERIES ----------------------------- */
/* --------------------------- MOBILE --------------------------- */
@media screen and (max-width: 576px) {
  .nav {
    width: 95vw;
    margin-left: 0.8rem;
    margin-top: 1rem; }
  .nav div a {
    font-size: small;
    margin: 1rem;
    margin-right: 0.3em;
    padding-left: 0em; }
  .vintagestore {
    padding-top: 3rem; }
  #inicio {
    height: 30vh; }
  #imagen {
    max-width: 50vw;
    max-height: 70vw;
    margin: 0.5rem; }
  #imagen img {
    width: 70vw; }
  #productosdestacados_titulo {
    margin-top: 0rem;
    padding-top: 0; }
  #carouselExampleIndicators.carousel.slide {
    margin-left: 0px;
    margin-right: 0px; }
  .carousel-inner {
    margin-left: 2rem;
    width: 80vw;
    height: 70vw;
    margin-top: 1rem; }
  .carousel-indicators {
    padding-bottom: 2rem;
    margin-left: 50px; }
  .carousel-control-next {
    margin-right: 15px; }
  .titulojerseys {
    font-size: 5em;
    padding-top: 35vw; }
  #portadajerseys {
    height: 20.5em;
    background: url(../multimedia/imagenes/jerseys.jpg); }
  #productos_shorts {
    display: grid; }
  #productos_shorts img {
    max-width: 70vw; }
  #boxes {
    display: grid;
    grid-template-columns: repeat(1, 25em);
    grid-template-rows: repeat(1, 25em);
    padding-left: 0rem;
    row-gap: 10em;
    padding-left: 0.5rem; }
  .art1 h1 {
    font-size: x-large;
    padding-right: 1rem; }
  .art1 p {
    margin-left: 100px; }
  .sec1_sobrenosotros {
    width: 24rem;
    display: flex;
    padding-top: 10rem;
    padding-left: 1rem;
    align-items: center; }
  .sec1_sobrenosotros img {
    max-width: 100%;
    width: 50vw;
    height: 50vw;
    border-radius: 20%; }
  .texto1_sobrenosotros {
    display: grid;
    padding-left: 1rem;
    font-size: 2vw;
    text-overflow: ellipsis;
    overflow: hidden; }
  .texto1_sobrenosotros p {
    font-size: 4vw; }
  .texto1_sobrenosotros h1 {
    padding-bottom: 20px;
    font-family: fantasy; }
  .sec2_sobrenosotros {
    padding-right: 10rem;
    display: flex;
    padding-top: 10rem;
    padding-left: 5rem;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding-bottom: 4rem; }
  .sec2_sobrenosotros img {
    max-width: 100%;
    width: 40vw;
    height: 40vw;
    border-radius: 20%; }
  .texto2_sobrenosotros {
    padding-left: 10rem;
    font-size: 2vw; }
  .texto2_sobrenosotros h1 {
    padding-bottom: 20px;
    font-family: fantasy; }
  .texto2_sobrenosotros p {
    font-size: 3vw; }
  #contacto_sec1 img {
    padding-top: 24rem;
    width: 50vw; }
  #contacto_sec1 article {
    padding-top: 6rem; } }

/* --------------------------------- TABLET --------------------------------- */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .nav {
    width: 100vw; }
  .nav div a {
    font-size: large;
    margin: 1rem;
    margin-right: 2rem; }
  .vintagestore {
    margin-left: 2rem;
    padding-top: 1.5rem; }
  .carousel-inner {
    margin-left: 1rem;
    width: 70vw;
    height: 30vh;
    margin-bottom: 1rem; }
  #carouselExampleIndicators.carousel.slide {
    margin-left: 100px;
    margin-right: 110px;
    margin-top: 0px; }
  #portadajerseys {
    background: url(../multimedia/imagenes/jerseys.jpg); }
  #productos_shorts {
    margin-top: 2rem; }
  #productos_shorts div img {
    width: 15em;
    height: 15em; }
  #boxes {
    display: grid;
    grid-template-columns: repeat(1, 25em);
    grid-template-rows: repeat(4, 25em);
    gap: 2em;
    row-gap: 10.2em;
    padding-left: 11em; }
  .sec1_sobrenosotros {
    width: 40rem;
    display: flex;
    padding-top: 10rem;
    padding-left: 1rem;
    align-items: center;
    justify-content: space-around; }
  #contacto_sec1 img {
    padding-top: 10rem;
    width: 60vw; }
  #contacto_sec1 article {
    padding-top: 6rem; } }

/* --------------------------------- LAPTOP --------------------------------- */
@media screen and (min-width: 769px) and (min-width: 1024px) {
  .carousel-inner {
    margin-left: 1rem;
    width: 70vw;
    height: 50vh;
    margin-bottom: 1rem; }
  #carouselExampleIndicators.carousel.slide {
    margin-left: 100px;
    margin-right: 110px;
    margin-top: 0px; }
  #productos_shorts {
    margin-top: 2rem; }
  #productos_shorts div img {
    width: 18em;
    height: 18em; }
  #boxes {
    display: grid;
    grid-template-columns: repeat(2, 25em);
    grid-template-rows: repeat(4, 25em);
    gap: 2em;
    row-gap: 10.2em;
    padding-left: 6rem;
    padding-bottom: 2rem; }
  .sec1_sobrenosotros {
    width: 40rem;
    display: flex;
    padding-top: 10rem;
    padding-left: 10rem;
    align-items: center;
    justify-content: space-around; }
  #contacto_sec1 img {
    padding-top: 10rem;
    width: 60vw; }
  #contacto_sec1 article {
    padding-top: 6rem; } }

/* -------------------------------- LAPTOP L -------------------------------- */
@media screen and (min-width: 1025px) and (min-width: 1440px) {
  .nav div a {
    font-size: large;
    margin: 1rem;
    margin-right: 2rem; }
  .vintagestore {
    margin-left: 2rem;
    padding-top: 1.5rem; }
  #carouselExampleIndicators.carousel.slide {
    margin-left: 250px;
    margin-right: 110px;
    margin-top: 0px; }
  .carousel-inner {
    margin-left: 1rem;
    width: 70vw;
    height: 70vh;
    margin-bottom: 1rem; }
  #boxes {
    display: grid;
    grid-template-columns: repeat(3, 25em);
    grid-template-rows: repeat(4, 30rem);
    gap: 2em;
    row-gap: 10.2em;
    padding-left: 6rem;
    padding-bottom: 2rem; }
  .sec1_sobrenosotros {
    width: 50rem;
    display: flex;
    padding-top: 10rem;
    padding-left: 14rem;
    align-items: center;
    justify-content: space-around; } }

/* ----------------------------------- 4K ----------------------------------- */
@media screen and (min-width: 1441px) and (min-width: 2560px) {
  .nav {
    height: 2.5vw; }
  .nav div a {
    font-size: x-large;
    margin: 2rem;
    margin-right: 2rem; }
  .vintagestore {
    margin-left: 2rem;
    padding-top: 3rem; }
  #imagen {
    height: 100%; }
  #productosdestacados_titulo {
    margin-top: 5rem; }
  #carouselExampleIndicators.carousel.slide {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 100px; }
  .carousel-inner {
    margin-left: 8rem;
    width: 70vw;
    height: 100vh;
    margin-bottom: 1rem; }
  #boxes {
    display: grid;
    grid-template-columns: repeat(5, 25em);
    grid-template-rows: repeat(4, 30rem);
    gap: 2em;
    row-gap: 10.2em;
    padding-left: 10rem;
    padding-bottom: 2rem; }
  #productos_shorts {
    margin-top: 2rem; }
  #productos_shorts div img {
    width: 40em;
    height: 40em; }
  #productos_shorts div h2 {
    margin-top: 0.625em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #0b032d;
    font-size: 1.5vw; }
  .sec1_sobrenosotros {
    width: 90rem;
    display: flex;
    padding-top: 10rem;
    padding-left: 25rem;
    align-items: center;
    justify-content: space-around; }
  #contacto_sec1 article h1 {
    padding-top: 5rem;
    font-size: 70px; }
  #contacto_sec1 article p {
    padding-top: 5rem;
    font-size: 40px; }
  #contacto_sec1 img {
    padding-top: 10rem;
    width: 50vw;
    height: 100vh;
    padding-right: 5rem; }
  #contacto_sec1 article {
    padding-top: 6rem; }
  .iconito {
    font-size: 3vh;
    margin-top: 10vh; } }

/* -------------------------------- CONTACTO -------------------------------- */
#contacto_sec1 article {
  margin-left: 0.625em;
  padding-top: 6.375em;
  display: flex;
  flex-direction: column;
  color: #0b032d; }
  #contacto_sec1 article h1 {
    font-size: x-large; }
  #contacto_sec1 article p {
    font-size: large; }

#contacto_sec1 figure {
  max-width: 100%;
  float: right;
  margin-right: 1.875em;
  margin-bottom: 1.875em; }
  #contacto_sec1 figure img {
    border-radius: 20%; }

.iconito {
  margin-top: 2.5em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  font-family: fantasy;
  margin-left: 0.625em;
  color: #0b032d; }

/* --------------------------------- JERSEYS -------------------------------- */
#portadajerseys {
  background: url(../multimedia/imagenes/jerseys.jpg);
  background-size: cover;
  height: 37.5em;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-attachment: fixed; }

.titulojerseys {
  display: flex;
  justify-content: space-around;
  padding-top: 10%;
  font-size: 9.375em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: azure; }

#boxes {
  display: grid;
  grid-template-columns: repeat(4, 25em);
  grid-template-rows: repeat(4, 25em);
  gap: 2em;
  row-gap: 10.2em;
  padding-left: 5.2em; }

.box {
  background-color: #003b36;
  transition: transform .5s;
  justify-content: center; }
  .box h2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
    padding-top: 0.7rem;
    color: #0b032d; }
  .box img {
    width: 25em;
    height: 30em;
    box-shadow: 3px 8px 17px -6px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 3px 8px 17px -6px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 3px 8px 17px -6px rgba(0, 0, 0, 0.62);
    transition: transform .5s; }
    .box img:hover {
      transform: scale(1.05); }

/* --------------------------------- SHORTS --------------------------------- */
#portadashorts {
  background: url(../multimedia/imagenes/shorts.jpg);
  background-size: cover;
  height: 37.5em;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-attachment: fixed; }

#productos_shorts {
  margin-top: 3.125em;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, #7c7c7c, #787878, #747474, #6f7071, #6b6c6d, #686a6a, #666768, #636565, #626364, #616162, #5f6060, #5e5e5e);
  margin-bottom: 3.125em;
  box-shadow: 3px 1px 33px -19px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 1px 33px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 1px 33px -19px rgba(0, 0, 0, 0.75);
  border-radius: 8%; }
  #productos_shorts div h2 {
    margin-top: 0.625em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #0b032d; }
  #productos_shorts div img {
    width: 25em;
    height: 25em;
    box-shadow: -2px 4px 27px 1px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: -2px 4px 27px 1px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -2px 4px 27px 1px rgba(0, 0, 0, 0.54);
    transition: transform .5s; }
    #productos_shorts div img:hover {
      transform: scale(1.07); }

#boxes {
  display: grid;
  grid-template-columns: repeat(4, 25em);
  grid-template-rows: repeat(4, 25em);
  gap: 2em;
  row-gap: 10.2em;
  padding-left: 5.2em; }

.box {
  background-color: #003b36;
  transition: transform .5s;
  justify-content: center; }
  .box h2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
    padding-top: 0.7rem;
    color: #0b032d; }
  .box img {
    width: 25em;
    height: 30em;
    box-shadow: 3px 8px 17px -6px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 3px 8px 17px -6px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 3px 8px 17px -6px rgba(0, 0, 0, 0.62);
    transition: transform .5s; }
    .box img:hover {
      transform: scale(1.05); }

/* ------------------------------ SOBRENOSOTROS ----------------------------- */
.sec1_sobrenosotros {
  width: 75rem;
  display: flex;
  padding-top: 10rem;
  padding-left: 15rem;
  align-items: center;
  justify-content: space-around; }
  .sec1_sobrenosotros img {
    max-width: 100%;
    width: 40vw;
    height: 40vw;
    border-radius: 20%; }

.texto1_sobrenosotros {
  padding-left: 10rem;
  font-size: 2vw; }
  .texto1_sobrenosotros h1 {
    padding-bottom: 20px;
    font-family: fantasy; }

.sec2_sobrenosotros {
  padding-right: 5rem;
  display: flex;
  padding-top: 10rem;
  padding-left: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding-bottom: 4rem; }
  .sec2_sobrenosotros img {
    max-width: 100%;
    width: 40vw;
    height: 40vw;
    border-radius: 20%; }

.texto2_sobrenosotros {
  padding-left: 10rem;
  font-size: 2vw; }
  .texto2_sobrenosotros h1 {
    padding-bottom: 20px;
    font-family: fantasy; }
