
    /* --------------------------------- PALETA --------------------------------- */
    $color1: #f3f3f3;
    $color2: #7c7c7c;
    $color3: #003b36;
    $color4: #0b032d;
    /* ------------------------------- FONT SIZES ------------------------------- */
    $text--xxl: 4.8em;
    $text--xl: 3.6em;
    $text--l: 3.2em;
    $text--m: 2.2em;
    $text--s: 1.6em;
    $text--xs: 1.2em;

