.header{
    box-shadow: 1px 14px 14px -14px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 14px 14px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 14px 14px -14px rgba(0,0,0,0.75);
}
.nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100vw;
    background-image: linear-gradient(to left, #d8d6d6, #d3d1d2, #cecdcd, #c9c9c9, #c4c4c4, #c0c0c0, #bdbcbd, #b9b8b9, #b5b4b5, #b2afb0, #aeabac, #aaa7a7);
    position: fixed;
    box-shadow: 4px 10px 31px -7px rgba(0,0,0,0.57);
-webkit-box-shadow: 4px 10px 31px -7px rgba(0,0,0,0.57);
-moz-box-shadow: 4px 10px 31px -7px rgba(0,0,0,0.57);
    border-radius: 40px;
    margin-top: 0.5vw;

    div a{
        margin: 2rem;
        margin-right: 2rem;
        font-size: 1em;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        color: $color4;

        &:hover{
            color: $color1;
        }
        
    }
}

