#contacto_sec1 {
    article{
        margin-left: 0.625em;
        padding-top: 6.375em;
        display: flex;
        flex-direction: column;
        color: $color4;
        
        h1{
            font-size: x-large;
        }
        
        p{
            font-size: large;
        }    
    }
    figure{
        max-width: 100%;
        float: right;
        margin-right: 1.875em;
        margin-bottom: 1.875em;
        img{
            border-radius: 20%;
        }
    }
}

.iconito{
    margin-top: 2.5em;
    @include flexcenter;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-family:fantasy;
    margin-left: 0.625em;
    color: $color4;
}

/* -------------------------------- VARIABLES ------------------------------- */
@import "./misc/variables";
/* -------------------------------- NORMALIZE ------------------------------- */
@import "./misc/normalize";
/* --------------------------------- HEADER --------------------------------- */
@import "./partials/header";
/* ------------------------------ MEDIA QUERIES ----------------------------- */
@import "./partials/mediaqueries";