#portadashorts{
    background: url(../multimedia/imagenes/shorts.jpg);
    background-size: cover;
    height: 37.5em;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

#productos_shorts{
    margin-top: 3.125em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, #7c7c7c, #787878, #747474, #6f7071, #6b6c6d, #686a6a, #666768, #636565, #626364, #616162, #5f6060, #5e5e5e);    margin-bottom: 3.125em;
    box-shadow: 3px 1px 33px -19px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 1px 33px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 1px 33px -19px rgba(0,0,0,0.75);
    border-radius: 8%;

    div{
        h2{
            margin-top: 0.625em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: $color4;
        }
        img{
            width: 25em;
            height: 25em;
            box-shadow: -2px 4px 27px 1px rgba(0,0,0,0.54);
            -webkit-box-shadow: -2px 4px 27px 1px rgba(0,0,0,0.54);
            -moz-box-shadow: -2px 4px 27px 1px rgba(0,0,0,0.54);
            transition: transform .5s;

            &:hover{
                transform: scale(1.07);
            }
        } 
    }
}

#boxes{
    display: grid;
    grid-template-columns:  repeat(4, 25em);
    grid-template-rows: repeat(4, 25em);
    gap: 2em;
    row-gap: 10.2em;
    padding-left: 5.2em;
}

.box{
    
    background-color: $color3;
    transition: transform .5s;
    justify-content: center;

    h2{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: x-large;
        padding-top: 0.7rem;
        color: $color4;
    }

    img{
        width: 25em;
        height: 30em;
        box-shadow: 3px 8px 17px -6px rgba(0,0,0,0.62);
        -webkit-box-shadow: 3px 8px 17px -6px rgba(0,0,0,0.62);
        -moz-box-shadow: 3px 8px 17px -6px rgba(0,0,0,0.62);
        transition: transform .5s;
        &:hover{
            transform: scale(1.05);
        }
    }
}