/* --------------------------------- IMPORT --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* -------------------------------- VARIABLES ------------------------------- */
:root {
    /* --------------------------------- PALETA --------------------------------- */
    --color1: #f3f3f3;
    --color2: #7c7c7c;
    --color3: #003b36;
    --color4: #0b032d;
    /* ------------------------------- FONT SIZES ------------------------------- */
    --text--xxl: 4.8em;
    --text--xl: 3.6em;
    --text--l: 3.2em;
    --text--m: 2.2em;
    --text--s: 1.6em;
    --text--xs: 1.2em;
/* ------------------------------ MEDIAQUERIES ------------------------------ */

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
    cursor: pointer;
}

.body{
    background-image: linear-gradient(to bottom, #f3f3f3, #efefef, #ebebeb, #e7e7e7, #e3e3e3, #e0e0e0, #dedede, #dbdbdb, #d9d9d9, #d7d7d7, #d6d6d6, #d4d4d4);   
    font-family: 'Roboto', sans-serif;  
}
.header{
    box-shadow: 1px 14px 14px -14px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 14px 14px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 14px 14px -14px rgba(0,0,0,0.75);
}

.nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 3rem;
    width: 41vw;
    background-image: linear-gradient(to left, #d8d6d6, #d3d1d2, #cecdcd, #c9c9c9, #c4c4c4, #c0c0c0, #bdbcbd, #b9b8b9, #b5b4b5, #b2afb0, #aeabac, #aaa7a7);
    position: fixed;
    box-shadow: 4px 10px 31px -7px rgba(0,0,0,0.57);
-webkit-box-shadow: 4px 10px 31px -7px rgba(0,0,0,0.57);
-moz-box-shadow: 4px 10px 31px -7px rgba(0,0,0,0.57);
    border-radius: 40px;
    margin-left: 58vw;
    margin-top: 0.5vw;
}

.nav div a{
    margin: 2rem;
    margin-right: 2rem;
    font-size: 1em;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav div a:hover{
    color: var(--color1);
}

#inicio{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
}

#imagen{
    width: 35em;
    height: 25em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

#imagen img{
    width: 37.5em;
    height: 100%;
    transition: 1.5s;
}

#imagen img:hover{
    transform: translateX(-30%);
    filter: brightness(80%);
}

#titulos div a{
    align-items: center;
}

.vintagestore{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#producto{
    width: 100%;

}

#productosdestacados_titulo{
    margin-top: 3.125em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: 0b032d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: transform .5s;
}
#productosdestacados_titulo:hover{
    transform: scale(1.1);
}

#productosdestacados div img{
    width: 25em;
    height: 25em;
    box-shadow: -2px 4px 27px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: -2px 4px 27px 1px rgba(0,0,0,0.54);
    -moz-box-shadow: -2px 4px 27px 1px rgba(0,0,0,0.54);
    transition: transform .5s;
}

#productosdestacados div img:hover{
    transform: scale(1.07);
}

#productosdestacados{
    margin-top: 3.125em;
    display: flex;
    justify-content: space-around;
}

#productosdestacados div h2{
    margin-top: 0.625em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#portadajerseys{
    background: url(../multimedia/imagenes/jerseys.jpg);
    background-size: cover;
    height: 37.5em;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.titulojerseys{ 
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    font-size: 9.375em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
}

.art1{
    padding-top: 6.25em;
    color: var(--color4);
    font-size: var(--text--m);
    margin-left: 12.5em;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-right: 6.25em;
}
.art1 h1{
    font-size: var(--text--l);
    font-family:bakersville;
}

.container{
    max-width: 75em;
    margin: 0 auto;
}

#sec1_sobrenosotros{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row-reverse;
}

.dukinba{
    margin-top: 6.25em;
}

.art2{
    display: flex;
    padding-top: 2em;
    color: var(--color4);
    font-size: var(--text--m);
    margin-left: 2.5em;
    align-content: center;
    flex-wrap: wrap;
}

.art2 h1{
    font-size: var(--text--l);
    margin-right: 1em;
    font-family: bakersville;
}

#sec2_sobrenosotros{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.maradonanba{
    display: flex;
    width: 62.5em;
    height: 31.25em;
}

.contacto_nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 3rem;
    width: 117rem;
    background-image: linear-gradient(to left, #d8d6d6, #d3d1d2, #cecdcd, #c9c9c9, #c4c4c4, #c0c0c0, #bdbcbd, #b9b8b9, #b5b4b5, #b2afb0, #aeabac, #aaa7a7);
    position: fixed;
    box-shadow: 4px 10px 31px -7px rgba(0,0,0,0.57);
-webkit-box-shadow: 4px 10px 31px -7px rgba(0,0,0,0.57);
-moz-box-shadow: 4px 10px 31px -7px rgba(0,0,0,0.57);
}

.contacto_nav div a{
    margin: 2rem;
    margin-right: 2rem;
    font-family: 'Roboto', sans-serif;  
    transition: all 0.3s ease 0s;
}

.contacto_nav div a:hover{
    color: var(--color1);
}


#contacto_sec1 article{
    margin-left: 0.625em;
    padding-top: 4.375em;
    display: flex;
    flex-direction: column;
    color: var(--color4);
}
#contacto_sec1 figure{
    float: right;
    margin-right: 1.875em;
    margin-bottom: 1.875em;
}

.ig{
    margin-top: 2.5em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    font-family:fantasy;
    margin-left: 0.625em;
    color: var(--color4);
}

.whatsapp{
    margin-top: 2.1875em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    font-family:fantasy;
    margin-left: 0.625em;
    color: var(--color4);
}

.twitter{
    margin-top: 2.1875em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    font-family:fantasy;
    margin-left: 0.625em;
    color: var(--color4);
}

.mail{
    margin-top: 2.1875em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    font-family:fantasy;
    margin-left: 0.625em;
    color: var(--color4);
}

.facebook{
    margin-top: 2.1875em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    font-family:fantasy;
    margin-left: 0.625em;
    color: var(--color4);
}




#contacto_sec1 article h1{
    font-size: x-large;
}

#contacto_sec1 article p{
    font-size: large;
}

#portadashorts{
    background: url(../multimedia/imagenes/shorts.jpg);
    background-size: cover;
    height: 37.5em;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

#productos_shorts div img{
    width: 25em;
    height: 25em;
    box-shadow: -2px 4px 27px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: -2px 4px 27px 1px rgba(0,0,0,0.54);
    -moz-box-shadow: -2px 4px 27px 1px rgba(0,0,0,0.54);
    transition: transform .5s;
}

#productos_shorts div img:hover{
    transform: scale(1.07);
}

#productos_shorts{
    margin-top: 3.125em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, #7c7c7c, #787878, #747474, #6f7071, #6b6c6d, #686a6a, #666768, #636565, #626364, #616162, #5f6060, #5e5e5e);    margin-bottom: 3.125em;
    box-shadow: 3px 1px 33px -19px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 1px 33px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 1px 33px -19px rgba(0,0,0,0.75);
    border-radius: 8%;
}

#productos_shorts div h2{
    margin-top: 0.625em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color4);
}

#boxes{
    display: grid;
    grid-template-columns:  repeat(4, 25em);
    grid-template-rows: repeat(4, 25em);
    gap: 2em;
    row-gap: 10.2em;
    padding-left: 5.2em;
}

.box{
    background-color: var(--color3);
    transition: transform .5s;
    justify-content: center;
}

.box h2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
    padding-top: 0.7rem;
    color: var(--color4);
}


.box img{
    width: 25em;
    height: 30em;
    box-shadow: 3px 8px 17px -6px rgba(0,0,0,0.62);
-webkit-box-shadow: 3px 8px 17px -6px rgba(0,0,0,0.62);
-moz-box-shadow: 3px 8px 17px -6px rgba(0,0,0,0.62);
    transition: transform .5s;
}

.box img:hover{
    transform: scale(1.05);
}

#bodycontacto{
    background-image: linear-gradient(to bottom, #f3f3f3, #efefef, #ebebeb, #e7e7e7, #e3e3e3, #e0e0e0, #dedede, #dbdbdb, #d9d9d9, #d7d7d7, #d6d6d6, #d4d4d4);   
}
